h1 {
    color: 	#FA8072 ;
    text-align: center;
    }
body {
    background-color: 	#FFEFD5;
  }
.card-title{
    color: 	#FA8072 ;
} 
.custom-circle-image {
  width: 12vw; /* note i used vw not px for better responsive */
  height: 12vw;
  box-shadow: 12px 12px 12px #aaa;
}
.custom-circle-image img {
  object-fit: cover;
}
.card-text {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size : 22px;
  line-height: initial;
}

.dropzone {
  border-style: dashed;
}


.error {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  line-height: initial;
  color:red;
  text-align: center;
}

#classTable {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#classTable td, #classTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

#classTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}